<h1>20 eyes dot org</h1>

<head>

  <meta name="description" content="20 Eyes dot org" />
  <meta name="keywords" content="Patrick White" />
  <meta name="keywords" content="nerd" />
  <meta name="author" content="Patrick White" />

  <title>20 eyes dot org</title>

</head>

<body>

<div id="wrapper">

  <!-- header call -->
  <!-- nav call -->
  <!-- sidebar call-->

    <div id="content">

    <h3>20 eyes dot org: A place for run-on sentences and typos about computer stuff</h3>

    <!-- progress goes here -->
    </div>


  </div>

</body>

