%h1
  Hi! My name is Patrick and I'm a nerd.
%p
  %img(src="/images/jenkinsconf.jpg" class=".banner-image")
%p
  Jenkins and I at Jenkins User Conference 2015
%h3
  I live in Brooklyn, NY with my partner,
  %a{:href => "https://twitter.com/liannawoods"} Lianna
  and our cat. I'm a software test engineer
  working for a medium sized content delivery company based in Washington, DC. I grew
  up in Maryland, and lived in DC until 2010 when I moved to Richmond, VA, then moved
  back to DC in 2014, and off to Brooklyn in 2015. I hate moving!
%h3
  I love building and maintaining test infrastructure and automating as much possible.
%h3
  My interests include but are not limited to Linux, Ruby, reading product reviews on
  Amazon, and basketball.
%h3
  In another life I worked in supply chain management and logistics.
%p
  %img(src="/images/banner.png" class=".banner-image")
%p
  My desk in my old DC apartment
%h3
  %a{:href => "https://github.com/Whitepatrick/resume"} My Resume
