%h1
  OLDER POSTS:
%h3
  5/29/2014: It's Log!
%img{:alt => "ELK", :src => ""}/
%br/
%p




%img{:alt => "MongoDB", :src => "i"}/
%br/
%p

%p

  %br/
  %b Console output below:
%img{:alt => "jenkins success", :src => ""}/
%p

%hr
%h3

%p

%hr
%h3

%a{:href => "http://jenkins-ci.org/", :target => "_blank"}
  %img{:src => ""}/
%p

%p
  %b

%hr
%h3
  MongoDB + PHP
%a{:href => "http://docs.mongodb.org/ecosystem/drivers/php/", :target => "_blank"}
  %img{:src => ""}/
%p

%hr
%h3
%p

%hr
%h3

%p
  

%hr
%h3
  %a{:href => "/posts"} Newer Posts!
