%h3
  Contact Information & Links
%p
  email:
%p
  %a{:href => 'mailto:whitep@vcu.edu'} whitep@vcu.edu
%p
  github:
%p
  %a{:href => 'https://github.com/whitepatrick'} whitepatrick
%p
  twitter:
%p
  %a{:href => 'https://twitter.com/operations_ivy'} operations_ivy
