%h3
  Contact Information & Links

%ul
  %li
    %a{:href => 'mailto:whitep@vcu.edu'} whitep@vcu.edu
  %li
    %a{:href => 'https://github.com/whitepatrick'} Github: whitepatrick
  %li
    %a{:href => 'https://twitter.com/operations_ivy'} Twitter: operations_ivy