%h1
  Contact Information & Links
%h3
  email:
%h3
  %a{:href => 'mailto:whitep@vcu.edu'} whitep@vcu.edu
%h3
  github:
%h3
  %a{:href => 'https://github.com/whitepatrick'} whitepatrick
%h3
  twitter:
%h3
  %a{:href => 'https://twitter.com/operations_ivy'} Twitter: operations_ivy