%h1
  Linux letter title goes here.
%p
  Put a linux image here vv
  %img(src="/images/jenkinsconf.jpg" class=".banner-image")
%p
  Comment about previous linux image
%h3
  pithy comment about linux
%p
  bulk of linux letter goes here
%p
  wrap it up
