%h1
  Dear Linux,
%h3
  I love you <3
%p
  Growing up with the internet in the middle and late 90s was pretty cool. I feel like most of the kids my age were really trying to figure it out. I'm not exactly sure how it happened or how I got there, but when I was about 16 I spent a lot of time hanging out in a few hacker/phone phreak IRC channels on
  %a{:href => "https://scuttled.net/", :target => "_blank"} irc.2600.net.
  Now, let me make it absolutely clear, while I may have thought I knew a thing or two about computers and phones back then, now I would classify teenage Patrick as something between script-kiddie and complete n00b. Regardless of all that, through it all one thing had always simply amazed me, Linux.
%p
  Years before all that, when a smokin' fast 486 PC was the replacement of our my family's Apple IIc, I became fairly familiar with DOS and had been using Windows since 3.1x. I had written some really simple "programs" in QBASIC, and understood writing batch files. Through all this I thought of my young self as a pretty well informed and well rounded computer user! But Linux really changed the game. Here was an OS that seemed to be embracing the use of command line interface, rather than abstract it away from the user completely. This was right up my alley. I became pretty fond of getting around a computer in DOS and really didn't like doing a lot of interaction with the GUI. Once I found out how to do anything you would want to do in the GUI, in the command line. I saw it as sort of an achievement; this wasn't necessarily easy for anyone to pick up, and I picked it up pretty quickly. 
%p
  Comment about previous linux image
%h3
  pithy comment about linux
%p
  bulk of linux letter goes here
%p
  wrap it up


http://www.phonelosers.org/
